// Add your own CSS here!
:root {
    --light: #FFFBF8;
    --dark: #141021;
    --secondary: #ff6a4d;
    --tertiary: #84a59d;
    --visited: #afbfc9;
    --primary: #f28482;
    --gray: #1a194d; //#4e4e4e;
    --lightgray: #f0f0f0;
    --outlinegray: #dadada;
    --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
    --light: #1A194D !important;
    --dark: #fbfffe !important;
    --secondary: #ff6a4d !important; //#625eff !important; // #ff6a4d !important;
    --visited: #4a575e !important;
    --tertiary: #84a59d !important;
    --primary: #f58382 !important;
    --gray: #fff !important;
    --lightgray: #292633 !important;
    --outlinegray: #343434 !important;
}
